<aside class="sidebar">

    <div>

        <div class="logo">

            <div class="logo-icon">
                <i class="fa-regular fa-file-lines"></i>
            </div>

            <span>DocuAI</span>

        </div>

        <ul class="menu">

            <li>

                <a href="/dashboard">

                    <i class="fa-solid fa-table-cells-large"></i>

                    Dashboard

                </a>

            </li>

            <li>

                <a href="/history">

                    <i class="fa-solid fa-clock-rotate-left"></i>

                    History

                </a>

            </li>

            <li>

                <a href="/profile">

                    <i class="fa-solid fa-user"></i>

                    Profile

                </a>

            </li>

        </ul>

    </div>

    <div class="sidebar-footer">

        <div class="user">

            <img src="https://i.pravatar.cc/80">

            <div>

                <h4 id="username"></h4>

                <p id="email"></p>

            </div>

        </div>

        <a href="#"
           class="logout"
           id="logout">

            <i class="fa-solid fa-right-from-bracket"></i>

            Logout

        </a>

    </div>

</aside>